<a href="https://colab.research.google.com/github/skylerasf/Skyler_DTSC3020_Fall2025/blob/main/assignment2_%3Csc2708%3E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
fruits = ["apple", "bannana", "kiwi"]
print(fruits)
print(fruits[0])
print(fruits[1])
print(fruits[-1])

['apple', 'bannana', 'kiwi']
apple
bannana
kiwi

In [5]:
names = ["john", "jack", "jason", "james"]
names[-1] = "jeremy"
print(names)

['john', 'jack', 'jason', 'jeremy']

In [6]:
vehicles = ["sedan", "coupe", "convertible", "suv", "hatchback"]
vehicles.append("minivan")
print(vehicles)

['sedan', 'coupe', 'convertible', 'suv', 'hatchback', 'minivan']

In [10]:
foods = ["pizza", "pasta", "sandwich", "soup", "salad", "burrito"]
foods.remove("soup")
print(foods)

['pizza', 'pasta', 'sandwich', 'salad', 'burrito']

In [14]:
city = ["dallas", "berlin", "kyoto", "new delhi"]
city.sort()
print(city)
city.reverse()
print(city)

['berlin', 'dallas', 'kyoto', 'new delhi']
['new delhi', 'kyoto', 'dallas', 'berlin']

In [18]:
animals = ["dog", "cat", "fish"]
for animal in animals:
  print(animal)

dog
cat
fish

In [21]:
numbers = [1, 2, 3, 4, 5]
new_numbers = []
for item in numbers:
  new_numbers.append(item * 2)
print(new_numbers)

[2, 4, 6, 8, 10]

In [27]:
friends = ["alex", "matthew", "damian", "nate", "troy", "danny"]
print(friends[0:3])
print(friends[3:6])

['alex', 'matthew', 'damian']
['nate', 'troy', 'danny']

In [30]:
number_list = list(range(1, 11, 1))
print(number_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
numbers = [1, 2, 3, 4, 5]
squares = [num * num for num in numbers]
print(squares)

[1, 4, 9, 16, 25]